name: banyuhay

volumes:
  venv-data:
  dagster-venv-data:
  db-data:
  dagster-db-data:
  pgadmin-data:

services:
  api:
    build:
      context: ./api
      dockerfile: ../Dockerfile
    image: kvdomingo/banyuhay-api
    restart: unless-stopped
    environment:
      PYTHON_ENV: development
      POSTGRESQL_USERNAME: postgres
      POSTGRESQL_PASSWORD: postgres
      POSTGRESQL_DATABASE: postgres
      POSTGRESQL_HOST: db
      API_HOST: http://localhost:8000
      APP_HOST: http://localhost:3000
      SECRET_KEY: ${SECRET_KEY}
      STYTCH_PROJECT_ID: ${STYTCH_PROJECT_ID}
      STYTCH_SECRET: ${STYTCH_SECRET}
      STYTCH_PUBLIC_TOKEN: ${STYTCH_PUBLIC_TOKEN}
    command:
      - >
        uv sync --frozen;
        uv run alembic upgrade head;
        exec uv run fastapi dev --host 0.0.0.0 --port 8000 --reload --app app app/app.py;
    volumes:
      - ./api:/app
      - venv-data:/app/.venv
    ports:
      - '8000:8000'
    healthcheck:
      test: [ 'CMD', 'curl', '-fL', 'http://localhost:8000/api/health' ]
    depends_on:
      db:
        condition: service_healthy

  ui:
    image: oven/bun:1-alpine
    restart: unless-stopped
    init: true
    working_dir: /app
    environment:
      NODE_ENV: development
      VITE_APP_HOST: http://localhost:3000
      VITE_STYTCH_PUBLIC_TOKEN: ${STYTCH_PUBLIC_TOKEN}
    entrypoint:
      - /bin/sh
      - -c
      - bun install && exec bun run dev
    volumes:
      - ./ui-start:/app
    ports:
      - '3000:3000'

  db:
    image: ghcr.io/kvdomingo/postgresql-pig:18
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql
      - ./initdb:/docker-entrypoint-initdb.d
    ports:
      - '5432:5432'
    healthcheck:
      test: [ 'CMD', 'pg_isready', '-U', 'postgres', '-d', 'postgres' ]
      start_period: 10s
      retries: 3
      interval: 20s
      timeout: 2s

  dagster:
    build:
      context: ./pipelines
      dockerfile: ../Dockerfile
    image: kvdomingo/banyuhay-pipelines
    restart: unless-stopped
    environment:
      PYTHON_ENV: development
      DAGSTER_HOME: /opt/dagster
      POSTGRESQL_USERNAME: dagster
      POSTGRESQL_PASSWORD: dagster
      POSTGRESQL_DATABASE: dagster
      GOOGLE_MAPS_API_KEY: ${GOOGLE_MAPS_API_KEY}
    command:
      - |
        uv sync --frozen
        mkdir -p $${DAGSTER_HOME}
        cp /app/dagster.yaml $${DAGSTER_HOME}/dagster.yaml
        exec uv run dagster dev -h 0.0.0.0 -p 3030
    volumes:
      - ./pipelines:/app
      - dagster-venv-data:/app/.venv
    ports:
      - '3030:3030'
    depends_on:
      db:
        condition: service_healthy

  pgadmin:
    image: dpage/pgadmin4:9
    environment:
      PGADMIN_LISTEN_ADDRESS: 0.0.0.0
      PGADMIN_LISTEN_PORT: 5000
      PGADMIN_DEFAULT_EMAIL: hello@kvd.studio
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - pgadmin-data:/pgadmin
    ports:
      - "5000:5000"
